extends ../../../templates/dash.pug

block main
  .jumbotron-banner
    center
      h1.text-white Scheduler
  .container.mt-3
    .row
      .col
        table.table.table-striped
          thead.text-white
            tr
              th.align-left(scope='col' colspan="2") Today's Working Hours
          tbody
            tr
              th(scope='row') Feb 19, 2018
              td 11AM - 2PM
      .col
        table.table.table-striped
          thead.text-white
            tr
              th.align-left(scope='col' colspan="3") Current Transaction Schedule
          tbody
            tr
              th(scope='row') Feb 20, 2018
              td 11AM - 2PM
              td Manila
    .row
      .col
        table.table.table-striped
          thead
            tr
              th.align-left.text-white(scope='col') Regular Working Hours
              form(method='POST' action='/scheduler')
                th.align-right(scope='col' colspan="2")
                    button.btn.btn-outline-light.btn-tab-sm(type='button' data-toggle='modal' data-target='#RWHModal') +
                    #RWHModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='RWHModal' aria-hidden='true')
                      .modal-dialog(role='document')
                        .modal-content
                          .modal-header
                            h5#RWHModalTitle.modal-title Regular Working Hours
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                              span(aria-hidden='true') ×
                          .modal-body
                            .row
                              .col
                                  select#addDay.form-control(name='addDay' required)
                                    each sched in regSchedTab
                                      if sched.sunday == 2 
                                        option(value='Sunday' selected='') Sunday
                                      if sched.monday == 2 
                                        option(value='Monday') Monday
                                      if sched.tuesday == 2 
                                        option(value='Tuesday') Tuesday
                                      if sched.wednesday == 2 
                                        option(value='Wednesday') Wednesday
                                      if sched.thursday == 2
                                        option(value='Thursday') Thursday
                                      if sched.friday == 2
                                        option(value='Friday') Friday
                                      if sched.saturday == 2
                                        option(value='Saturday') Saturday
                            br
                            .row
                              .col
                                p.mt-1.text-center Start
                              .col
                                select#Shours.form-control(name='Shours')
                                  option(value='01') 01
                                  option(value='02') 02
                                  option(value='03') 03
                                  option(value='04') 04
                                  option(value='05') 05
                                  option(value='06') 06
                                  option(value='07') 07
                                  option(value='08') 08
                                  option(value='09') 09
                                  option(value='10') 10
                                  option(value='11') 11
                                  option(value='12' selected='') 12
                              .col
                                select#Sminutes.form-control(name='Sminutes')
                                  option(value='00' selected='') 00
                                  option(value='15') 15
                                  option(value='30') 30
                                  option(value='45') 45
                              .col
                                select#Sampm.form-control(name='Sampm')
                                  option(value='AM' selected='') AM
                                  option(value='PM') PM
                            .row
                              .col
                                p.mt-1.text-center End
                              .col
                                select#Ehours.form-control(name='Ehours')
                                  option(value='01') 01
                                  option(value='02') 02
                                  option(value='03') 03
                                  option(value='04') 04
                                  option(value='05') 05
                                  option(value='06') 06
                                  option(value='07') 07
                                  option(value='08') 08
                                  option(value='09') 09
                                  option(value='10') 10
                                  option(value='11') 11
                                  option(value='12' selected='') 12
                              .col
                                select#Eminutes.form-control(name='Eminutes')
                                  option(value='00' selected='') 00
                                  option(value='15') 15
                                  option(value='30') 30
                                  option(value='45') 45
                              .col
                                select#Eampm.form-control(name='Eampm')
                                  option(value='AM' selected='') AM
                                  option(value='PM') PM
                            br
                              
                            .modal-footer
                              button.btn.btn-primary(type='submit') Submit
                              button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                              
                      

          tbody
            if empty == 1
              tr
                td(colspan="2")
                  i No Schedule Detected
            else
              each sched in regSchedTab
                if sched.sunday == 2
                  tr
                    th(scope="row") Sunday
                    td None
                    td
                else if sched.strSchedDay == "Sunday"
                  tr
                    th(scope="row") Sunday
                    td #{sched.formatstart} - #{sched.formatend}
                    td 
                      a(href='/scheduler/'+ sched.intSchedID, data-toggle='tooltip', data-placement='bottom', title='Edit')
                        img.size(src='/assets/images/icons/settings.png', alt='Edit')
              each sched in regSchedTab
                if sched.monday == 2
                  tr
                    th(scope="row") Monday
                    td None
                    td
                else if sched.strSchedDay == "Monday"
                  tr
                    th(scope="row") Monday
                    td #{sched.formatstart} - #{sched.formatend}
                    td 
                      a(href='/scheduler/'+ sched.intSchedID, data-toggle='tooltip', data-placement='bottom', title='Edit')
                        img.size(src='/assets/images/icons/settings.png', alt='Edit')
              each sched in regSchedTab
                if sched.tuesday == 2
                  tr
                    th(scope="row") Tuesday
                    td None
                    td
                else if sched.strSchedDay == "Tuesday"
                  tr
                    th(scope="row") Tuesday
                    td #{sched.formatstart} - #{sched.formatend}
                    td 
                      a(href='/scheduler/'+ sched.intSchedID, data-toggle='tooltip', data-placement='bottom', title='Edit')
                        img.size(src='/assets/images/icons/settings.png', alt='Edit')
              each sched in regSchedTab
                if sched.wednesday == 2
                  tr
                    th(scope="row") Wednesday
                    td None
                    td
                else if sched.strSchedDay == "Wednesday"
                  tr
                    th(scope="row") Wednesday
                    td #{sched.formatstart} - #{sched.formatend}
                    td 
                      a(href='/scheduler/'+ sched.intSchedID, data-toggle='tooltip', data-placement='bottom', title='Edit')
                        img.size(src='/assets/images/icons/settings.png', alt='Edit')
              each sched in regSchedTab
                if sched.thursday == 2
                  tr
                    th(scope="row") Thursday
                    td None
                    td
                else if sched.strSchedDay == "Thursday"
                  tr
                    th(scope="row") Thursday
                    td #{sched.formatstart} - #{sched.formatend}
                    td 
                      a(href='/scheduler/'+ sched.intSchedID, data-toggle='tooltip', data-placement='bottom', title='Edit')
                        img.size(src='/assets/images/icons/settings.png', alt='Edit')
              each sched in regSchedTab
                if sched.friday == 2
                  tr
                    th(scope="row") Friday
                    td None
                    td
                else if sched.strSchedDay == "Friday"
                  tr
                    th(scope="row") Friday
                    td #{sched.formatstart} - #{sched.formatend}
                    td 
                      a(href='/scheduler/'+ sched.intSchedID, data-toggle='tooltip', data-placement='bottom', title='Edit')
                        img.size(src='/assets/images/icons/settings.png', alt='Edit')
              each sched in regSchedTab
                if sched.saturday == 2
                  tr
                    th(scope="row") Saturday
                    td None
                    td
                else if sched.strSchedDay == "Saturday"
                  tr
                    th(scope="row") Saturday
                    td #{sched.formatstart} - #{sched.formatend}
                    td 
                      a(href='/scheduler/'+ sched.intSchedID, data-toggle='tooltip', data-placement='bottom', title='Edit')
                        img.size(src='/assets/images/icons/settings.png', alt='Edit')
                
      .col
        table.table.table-striped
          thead.text-white
            tr
              th.align-left(scope='col') Special Working Hours
              th.align-right
                button.btn.btn-outline-light.btn-tab-sm.mr-2(type='button') +
                button.btn.btn-outline-light.btn-tab-sm(type='button') *
          tbody
            tr
              th(scope='row') Feb 24, 2018
              td 11AM - 2PM
  block scheduler
