extends ../../../templates/dash.pug

block main
  mixin hsel
    each hour in ['12','01','02','03','04','05','06','07','08','09','10','11']
      option(value=hour) #{hour}
  mixin msel
    option(value='00' selected='') 00
    each min in ['15','30','45']
      option(value=min) #{min}
  
  mixin dmsel
    option(value='01' selected='') January
    each count in ['02','03','04','05','06','07','08','09','10','11','12']
      each month, index in ['February','March','April','May','June','July','August','September','October','November','December']
        if index+2 == count
          option(value= count) #{month}
  mixin ddsel
    option(value='01' selected='') 01
    each day in ['02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
      option(value= day) #{day}
  
  mixin regsched(day,daystr,schedday,schedid,start,end)
    if day == 2
      tr
        th(scope="row") #{daystr}
        td None
        td
    else if schedday == daystr
      tr
        th(scope="row") #{daystr}
        td #{start} - #{end}
        td 
          a(href='/scheduler/rwh/'+ schedid data-toggle='tooltip', data-placement='bottom', title='Edit')
            img.size(src='/assets/images/icons/settings.png', alt='Edit')
  mixin dayselected(schedday,day)
    if schedday == 2 
      option(value=day) #{day}
  
  .jumbotron-banner
    center
      h1.text-white Scheduler
    //- ano jon haha tanggalin mo na lang yung .con para magadjust sa screen mo yung scheduler
  .container.mt-3.con
    .row
      .col(style='margin-top:6px !important;')
        table.table.table-striped.box-shadow-mini
          thead.text-white
            tr
              th.align-left(scope='col' colspan="2") Today's Working Hours
          tbody
            tr
              th(scope='row') #{curdate}
              if emptynow == 1
                td none
              else
                each day in todayTab
                  if day.unav == 1
                    td Unavailable
                  else 
                    td #{day.formatstart} - #{day.formatend}
      .col(style='margin-top:6px !important;')
        table.table.table-striped.box-shadow-mini
          thead.text-white
            tr
              th.align-left(scope='col' colspan="3") Current Transaction Schedule
          tbody
            if emptytrans == 1
              tr
                td none
            else
              each trans in ongoingtrans
                tr
                  th(scope='row') #{trans.date}
                  td #{trans.time}
    .row
      .col
        table.table.table-striped.box-shadow-mini
          thead
            tr
              th.align-left.text-white(scope='col') Regular Working Hours
              th.align-right(scope='col' colspan="2")
                  button.btn.btn-outline-light.btn-tab-sm(type='button' data-toggle='modal' data-target='#RWHModal') +
          tbody
            if empty == 1
              tr
                td(colspan="2")
                  i No Schedule Detected
            else
              each sched in regSchedTab
                +regsched(sched.sunday,"Sunday",sched.strSchedDay,sched.intSchedID,sched.formatstart,sched.formatend)
              each sched in regSchedTab
                +regsched(sched.monday,"Monday",sched.strSchedDay,sched.intSchedID,sched.formatstart,sched.formatend)
              each sched in regSchedTab
                +regsched(sched.tuesday,"Tuesday",sched.strSchedDay,sched.intSchedID,sched.formatstart,sched.formatend)
              each sched in regSchedTab
                +regsched(sched.wednesday,"Wednesday",sched.strSchedDay,sched.intSchedID,sched.formatstart,sched.formatend)
              each sched in regSchedTab
                +regsched(sched.thursday,"Thursday",sched.strSchedDay,sched.intSchedID,sched.formatstart,sched.formatend)
              each sched in regSchedTab
                +regsched(sched.friday,"Friday",sched.strSchedDay,sched.intSchedID,sched.formatstart,sched.formatend)
              each sched in regSchedTab
                +regsched(sched.saturday,"Saturday",sched.strSchedDay,sched.intSchedID,sched.formatstart,sched.formatend)
                
      .col
        table.table.table-striped.box-shadow-mini
          thead.text-white
            tr
              th.align-left(scope='col') Special Working Hours
              th.align-right(scope='col' colspan="2")
                button.btn.btn-outline-light.btn-tab-sm(type='button' data-toggle='modal' data-target='#SWHModal') +
          tbody
            if emptyspecial == 1
              tr
                td(colspan="2")
                  i No Schedule Detected
            else
              each spec in specSchedTab
                tr
                  th(scope='row') #{spec.date}
                  if spec.unav == 1
                    td Unavailable
                  else
                    td #{spec.formatstart} - #{spec.formatend}
                  td 
                    a(href='/scheduler/swh/'+ spec.intSpecialID, data-toggle='tooltip', data-placement='bottom', title='Edit')
                      img.size(src='/assets/images/icons/settings.png', alt='Edit')
                  
  form(method='POST' action='/scheduler/rwh')  
    #RWHModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='RWHModal' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#RWHModalTitle.modal-title Regular Working Hours
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .row
              .col
                  select#addDay.form-control(name='addDay' required)
                    if empty == 1
                      option(value='Sunday' selected='') Sunday
                      option(value='Monday') Monday
                      option(value='Tuesday') Tuesday
                      option(value='Wednesday') Wednesday
                      option(value='Thursday') Thursday
                      option(value='Friday') Friday
                      option(value='Saturday') Saturday
                    each sched in regSchedTab
                      +dayselected(sched.sunday,'Sunday')
                      +dayselected(sched.monday,'Monday')
                      +dayselected(sched.tuesday,'Tuesday')
                      +dayselected(sched.wednesday,'Wednesday')
                      +dayselected(sched.thursday,'Thursday')
                      +dayselected(sched.friday,'Friday')
                      +dayselected(sched.saturday,'Saturday')
            br
            .row
              .col
                p.mt-1.text-center Start
              .col
                select#Shours.form-control(name='Shours')    
                  +hsel
              .col
                select#Sminutes.form-control(name='Sminutes')
                  +msel
              .col
                select#Sampm.form-control(name='Sampm')
                  option(value='AM' selected='') AM
                  option(value='PM') PM
            .row
              .col
                p.mt-1.text-center End
              .col
                select#Ehours.form-control(name='Ehours')
                  +hsel
              .col
                select#Eminutes.form-control(name='Eminutes')
                  +msel
              .col
                select#Eampm.form-control(name='Eampm')
                  option(value='AM' selected='') AM
                  option(value='PM') PM
            br
              
            .modal-footer
              button.btn.btn-primary(type='submit') Submit
              button.btn.btn-secondary(type='button', data-dismiss='modal') Close
  
  form(method='POST' action='/scheduler/swh')  
    #SWHModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='SWHModal' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#SWHModalTitle.modal-title Special Working Hours
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .row
              .col
                select#S-addMonth.form-control(name='addMonth')
                  +dmsel
              .col
                select#S-addDay.form-control(name='addDay')
                  +ddsel
              .col
                input.form-control(type='number' name='addYear' placeholder='Year(eg.2018)' max='9999' required)
            br
            .row
              .col
                select#status.form-control(name='status')
                  option(value='available' selected='') Available
                  option(value='unavailable') Unavailable(voids time)
            br
            .row
              .col
                p.mt-1.text-center Start
              .col
                select#S-Shours.form-control(name='Shours')    
                  +hsel
              .col
                select#S-Sminutes.form-control(name='Sminutes')
                  +msel
              .col
                select#S-Sampm.form-control(name='Sampm')
                  option(value='AM' selected='') AM
                  option(value='PM') PM
            .row
              .col
                p.mt-1.text-center End
              .col
                select#S-Ehours.form-control(name='Ehours')
                  +hsel
              .col
                select#S-Eminutes.form-control(name='Eminutes')
                  +msel
              .col
                select#S-Eampm.form-control(name='Eampm')
                  option(value='AM' selected='') AM
                  option(value='PM') PM
            br
              
            .modal-footer
              button.btn.btn-primary(type='submit') Submit
              button.btn.btn-secondary(type='button', data-dismiss='modal') Close

  block scheduler
