extends index.pug

block service
  block append scripts
    script.
      $(window).on('load',function(){
        $('#noResult').modal('show');
      });
  
  mixin options
        each val, index in servParams
          if index == 0
            h4(style="display: inline; color: #2FAF7A;") #{val} 
            - varServName = val
          else if index == 1
            - varCity = val
          else if index == 2
            - varBrngy = val
          else if index == 3
            - varPricing = val
          else if index == 4
            - varSorting = val
            
        - optPricing = varPricing
        - optSorting = varSorting
        
        if optPricing == 1
          - optPricing = 'Ave Fixed'
        else if optPricing == 2
          - optPricing = 'Ave Rate'
          
        if optSorting == 'rating'
          - optSorting = 'Rating'
        else if optSorting == 'lprice'
          - optSorting = 'Lowest Price'
        else if optSorting == 'finished'
          - optSorting = 'Finished Transaction'
  
  #noResult.modal.fade(tabindex='-1' role='dialog' aria-labelledby='noResultTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#noResultTitle.modal-title Invalid Input
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p No results found for :
          +options
          
          ul
            li City : #{varCity}
            li Barangay : #{varBrngy}
            li Pricing : #{optPricing}
            li Sorting : #{optSorting}
          
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
