extends index.pug

block service
  block append scripts
    script.
      $(window).on('load',function(){
        $('#noResult').modal('show');
      });
      
  #noResult.modal.fade(tabindex='-1' role='dialog' aria-labelledby='noResultTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#noResultTitle.modal-title Invalid Input
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          each val, index in servParams
            if index == 0
              p No results found for "#{val}" with settings:
            else if index == 1
              ul
                li City: #{val}
            else if index == 2
              ul
                li Barangay: #{val}
            else if index == 3
              ul
                li Pricing: #{val}
            else if index == 4
              ul
                li Sorting: #{val}
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
