extends result.pug

block servtarget
  block append scripts
    script.
      $(window).on('load',function(){
        $('#request').modal('show');
      });
      
  mixin regsched(day,daystr,schedday,start,end)
    if day == 2
      tr
        th(scope="row") #{daystr}
        td None
    else if schedday == daystr
      tr
        th(scope="row") #{daystr}
        td #{start} - #{end}
      
  #request.modal.fade(tabindex='-1' role='dialog' aria-labelledby='requestTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        each request in requestTab
          form(method='POST' action='/services/request/'+request.intServID)
            .modal-header
              h5#requestTitle.modal-title Service Request
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              .row
                .col
                  if emptyUnrated == 0
                    each unrated in unratedTab
                      .alert.alert-danger(role='alert')
                        i
                          | You will not be able to Request while having an&nbsp
                          b
                            a.text-danger(href='/transactions/ratereview/'+unrated.intTransID) Unrated Finished Transaction&nbsp
                          | as Seeker
                  h5(style="display:inline;") #{request.strName}
                  each val, index in servParams
                    if index == 0
                      h5(style="display:inline;") &nbsp- #{val}
                  br
                  h7(style="display:inline;") #{request.strCity}
                  h7(style="display:inline;") &nbsp- #{request.strBarangay}
                  br
                  br
                  table.table.table-striped.box-shadow-mini
                    thead.text-white
                      tr
                        th.align-left(scope='col' colspan="2") Today's Working Hours
                    tbody
                      tr
                        th(scope='row') #{request.date}
                        if request.unav == 1
                          td Unavailable
                        else if request.unav == 0
                          td #{request.formatstart} - #{request.formatend}
                        else
                          td none
              .row
                .col
                  table.table.table-striped.box-shadow-mini
                    thead
                      tr
                        th.align-left.text-white(scope='col' colspan='2') Regular Working Hours
                    tbody
                      if empty == 1
                        tr
                          td
                            i No Schedule Detected
                      else
                        each sched in regSchedTab
                          +regsched(sched.sunday,"Sunday",sched.strSchedDay,sched.formatstart,sched.formatend)
                        each sched in regSchedTab
                          +regsched(sched.monday,"Monday",sched.strSchedDay,sched.formatstart,sched.formatend)
                        each sched in regSchedTab
                          +regsched(sched.tuesday,"Tuesday",sched.strSchedDay,sched.formatstart,sched.formatend)
                        each sched in regSchedTab
                          +regsched(sched.wednesday,"Wednesday",sched.strSchedDay,sched.formatstart,sched.formatend)
                        each sched in regSchedTab
                          +regsched(sched.thursday,"Thursday",sched.strSchedDay,sched.formatstart,sched.formatend)
                        each sched in regSchedTab
                          +regsched(sched.friday,"Friday",sched.strSchedDay,sched.formatstart,sched.formatend)
                        each sched in regSchedTab
                          +regsched(sched.saturday,"Saturday",sched.strSchedDay,sched.formatstart,sched.formatend)
              .row
                .col
                  table.table.table-striped.box-shadow-mini
                    thead.text-white
                      tr
                        th.align-left(scope='col' colspan='2') Special Working Hours
                    tbody
                      if emptyspecial == 1
                        tr
                          td(colspan="2")
                            i No Schedule Detected
                      else
                        each spec in specSchedTab
                          tr
                            th(scope='row') #{spec.date}
                            if spec.unav == 1
                              td Unavailable
                            else
                              td #{spec.formatstart} - #{spec.formatend}
              label(for='comment') Request Description:
              if emptyUnrated == 0
                i
                  textarea.form-control(rows='5' name='message' maxlength="65500" disabled) Text Area is Disabled.
              else
                textarea.form-control(rows='5' name='message' maxlength="65500" required)
                
            .modal-footer
              if emptyUnrated == 0
                button.btn.btn-primary(type='submit' disabled) Submit
              else
                button.btn.btn-primary(type='submit') Submit
              button.btn.btn-secondary(type='button', data-dismiss='modal') Close
