extends ../../../templates/dash.pug

block main
  mixin options
    each val, index in servParams
      if index == 0
        p
        h4.margin-L(style="display: inline;") Showing Results for&nbsp
        h4(style="display: inline; color: #2FAF7A;") #{val} 
        - varServName = val
      else if index == 1
        - varCity = val
      else if index == 2
        - varBrngy = val
      else if index == 3
        - varPricing = val
      else if index == 4
        - varSorting = val
        
    - optPricing = varPricing
    - optSorting = varSorting
    
    if optPricing == 1
      - optPricing = 'Ave Fixed'
    else if optPricing == 2
      - optPricing = 'Ave Rate'
      
    if optSorting == 'rating'
      - optSorting = 'Rating'
    else if optSorting == 'lprice'
      - optSorting = 'Lowest Price'
    else if optSorting == 'finished'
      - optSorting = 'Finished Services'
  
  .jumbotron-banner
    center
      h1.text-white Search For Services
      form(method='POST' action='/services')
        .form-group
          button.btn.btn-primary.btn-md.btn(type='button' data-toggle='modal' data-target='#searchServModal') Search Services
          #searchServModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='searchServModalTitle' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                each user in thisUserTab
                  .modal-header
                    h5#searchServModalTitle.modal-title Search and Filters
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    input.form-control(type='text' name='searchtag' placeholder='Service Tag' required)
                    br
                    .row
                      if thisuser.intAutoFill == 1
                        .col
                          input.form-control(type='text' name='city' value=user.city placeholder='City' maxlength="45")
                        .col
                          input.form-control(type='text' name='brngy' value=user.brngy placeholder='Barangay' maxlength="45")
                      else
                        .col
                          input.form-control(type='text' name='city' placeholder='City' maxlength="45")
                        .col
                          input.form-control(type='text' name='brngy' placeholder='Barangay' maxlength="45")
                    br
                    .row
                      .col
                        label(for='pricing') Pricing
                        select#pricing.form-control(name='pricing')
                          option(value='any' selected='') Any
                          option(value='1') Ave Fixed
                          option(value='2') Ave Rate
                      .col
                        label(for='sorting') Sorting
                        select#sorting.form-control(name='sorting')
                          option(value='rating' selected='') Rating
                          option(value='lprice') Lowest Price
                          option(value='finished') Finished Services
                  .modal-footer
                    button.btn.btn-primary(type='submit') Submit
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
  
  +options
  i.ml-1.fa.d-inline.fa-lg.fa-list-ul(style="line-height: 0.1em;" data-toggle="tooltip" data-placement="right" data-html="true" title="City : "+varCity+"<br>Barangay : "+varBrngy+"<br>Pricing : "+optPricing+"<br>Sorting : "+optSorting)
  br
  br
  .container(style='max-width: 1300px !important')
    .card-deck.ml-1
      .row(style='padding-left: 45px;')
        each serv in searchServ
          .col(style='margin-left: -5px; margin-bottom: 10px;')
            span.card(style= 'height: 16.7rem; width: 15rem').border.border-primary.mb-3.box-shadow-mini
              table
                tbody
                  tr
                    td(rowspan='2') 
                      img(src='/userImages/profile/'+serv.strProfilePic, alt='Card image cap', style='height: 8rem; width: 8rem; border-radius: 3px 0px 0px 0px; border-right: 1px solid #007BFF;')
                    td
                      img(src='/assets/images/Icons/star.png', alt='star', style='height: 1.5rem; width: 1.5rem; margin-left:20px;')
                      p(style='float: right; margin-right: 30px; margin-bottom: 0rem') #{serv.ave}
                      p.cenR(style='margin-bottom: 0rem') Rating
                  tr
                    td
                      img(src='/assets/images/Icons/case.png', alt='star', style='height: 1.5rem; width: 1.5rem; margin-left:20px;')
                      p(style='float: right; margin-right: 30px; margin-bottom: 0rem') #{serv.sum}
                      p.cenF(style='margin-bottom: 0rem') Provided

              .card-body
                .card-text
                  .f(style='text-align:center; border-top: 1px solid #007BFF') #{serv.prepend}
                  if serv.intStatus == 1
                    .f.text-white(style='text-align:center; background: #868E96;')
                      a.link-white(href='/profile/'+serv.intAccNo) #{serv.strName}
                  else
                    .f.text-white(style='text-align:center; background: #2FAF7A;')
                      a.link-white(href='/profile/'+serv.intAccNo) #{serv.strName}
                  .row
                    .col(style='padding-right:0px; text-align:center; border-right: 1px solid #007BFF;')
                      if serv.cityEllipsis == 0
                        .f #{serv.city}
                      else
                        .f(data-toggle="tooltip" data-placement="top" title=serv.strCity) #{serv.city}
                    .col(style='padding-left:0px; text-align:center;')
                      if serv.brngyEllipsis == 0
                        .f #{serv.brngy}
                      else
                        .f(data-toggle="tooltip" data-placement="top" title=serv.strBarangay) #{serv.brngy}
                  if serv.intPriceType == 1
                    .f(style='text-align:center') ₱#{serv.fltPrice}
                  else
                    .f(style='text-align:center') ₱#{serv.fltPrice}/hr
                .btn-group.special(role='group')
                  a.button.btn.btn-primary(href='/services/'+varServName+'/'+varCity+'/'+varBrngy+'/'+varPricing+'/'+varSorting+'/request/'+serv.intServID style='width: 14.7rem; border-radius: 0px; border-radius: 0px 0px 0px 3px;') Request
                  a.button.btn.btn-secondary(href='/services/'+varServName+'/'+varCity+'/'+varBrngy+'/'+varPricing+'/'+varSorting+'/portfolio/'+serv.intServID style='width: 14.7rem; border-radius: 0px 0px 3px 0px; height:40px') Portfolio

  block servtarget
