extends ../../../templates/dash.pug

block main
  .jumbotron-banner
    center
      h1.text-white Search For Services
      form(method='POST' action='/services')
        .form-group
          button.btn.btn-primary.btn-md.btn(type='button' data-toggle='modal' data-target='#searchServModal') Search Services
          #searchServModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='searchServModalTitle' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                each user in thisUserTab
                  .modal-header
                    h5#searchServModalTitle.modal-title Search and Filters
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    input.form-control(type='text' name='searchtag' placeholder='Service Tag' required)
                    br
                    .row
                      .col
                        input.form-control(type='text' name='city' value=user.strCity placeholder='City')
                      .col
                        input.form-control(type='text' name='brngy' value=user.strBarangay placeholder='Barangay')
                    br
                    .row
                      .col
                        label(for='pricing') Pricing
                        select#pricing.form-control(name='pricing')
                          option(value='any' selected='') Any
                          option(value='1') Ave Fixed
                          option(value='2') Ave Rate
                      .col
                        label(for='sorting') Sorting
                        select#sorting.form-control(name='sorting')
                          option(value='rating' selected='') Rating
                          option(value='finished') Finished Transaction
                      
                  .modal-footer
                    button.btn.btn-primary(type='submit') Submit
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
  p
  each val, index in servParams
    if index == 0
      h3.margin-L(style="display: inline;") Showing Results for "#{val}"
      - varServName = val
    else if index == 1
      h3(style="display: inline;") &nbsp- "#{val}"
      - varCity = val
    else if index == 2
      h3(style="display: inline;") &nbsp- "#{val}"
      - varBrngy = val
    else if index == 3
      h3(style="display: inline;") &nbsp- "#{val}"
      - varPricing = val
    else if index == 4
      h3(style="display: inline;") &nbsp- "#{val}"
      - varSorting = val
  br
  br
  .container
    .card-deck.ml-1
      .row(style='padding-left: 60px;')
        each serv in searchServ
          .col(style='margin-left: -5px;')
            span.card(style= 'height: 18.3rem; width: 15rem').border.border-primary.mb-3.box-shadow-mini
              table
                tbody
                  tr
                    td(rowspan='2') 
                      img(src='/assets/images/Tyler.jpg', alt='Card image cap', style='height: 8rem; width: 8rem; border-radius: 3px 0px 0px 0px; border-right: 1px solid #007BFF;')
                    td
                      img(src='/assets/images/Icons/star.png', alt='star', style='height: 1.5rem; width: 1.5rem; margin-left:20px;')
                      p(style='float: right; margin-right: 30px; margin-bottom: 0rem') 4.8
                      p.cenR(style='margin-bottom: 0rem') Rating
                  tr
                    td
                      img(src='/assets/images/Icons/case.png', alt='star', style='height: 1.5rem; width: 1.5rem; margin-left:20px;')
                      p(style='float: right; margin-right: 30px; margin-bottom: 0rem') 100  
                      p.cenF(style='margin-bottom: 0rem') Finished

              //-img.card-img-top(src='/assets/images/Tyler.jpg', alt='Card image cap', style='height: 8rem; width: 8rem; ')
              .card-body
                .card-text
                  .f(style='text-align:center; border-top: 1px solid #007BFF; color: green;') Verified
                  .f(style='text-align:center;') #{serv.prepend}
                  .f(style='text-align:center') #{serv.strName}
                  .row
                    .col(style='padding-right:0px; text-align:center; border-right: 1px solid #007BFF;')
                      .f Quezon City
                    .col(style='padding-left:0px; text-align:center;')
                      .f Tandang Sora
                  if serv.intPriceType == 1
                    .f(style='text-align:center') ₱#{serv.fltPrice}
                  else
                    .f(style='text-align:center') ₱#{serv.fltPrice}/hr
                .btn-group.special(role='group')
                  a.button.btn.btn-primary(href='/services/'+varServName+'/'+varCity+'/'+varBrngy+'/'+varPricing+'/'+varSorting+'/request/'+serv.intServID style='width: 14.7rem; border-radius: 0px; border-radius: 0px 0px 0px 3px;') Request
                  button.btn.btn-secondary(href='' style='width: 14.7rem; border-radius: 0px 0px 3px 0px; height:40px') Portfolio
        .col          

  block servrequest
