extends ../../../templates/dash-admin.pug

block main
  block append scripts
    script.
      function showPopup(url) {
        newwindow=window.open(url,'name','resizable=no,height=600,width=1174,top=60,left=140');
        if (window.focus) {newwindow.focus()}
      }
  .jumbotron-admin
    center
      h1 Declined Users
  p  
  center
  .container
    p.font
      table.table.table-striped.table-hover.box-shadow-mini
        thead
          tr  
            th(scope='col') #
            th(scope='col') Username
            th(scope='col') Name
            th(scope='col') Barangay
            th(scope='col') City
            th(scope='col') Email
            th(scope='col') Contact No.
            th(scope='col') User Type
            th(scope='col') &nbsp
            th(scope='col') &nbsp
            th(scope='col') &nbsp

        tbody
        each user in resultspug
          tr
            td(style="padding-right: 20px; padding-bottom: 10px;") #{user.intAccNo}
            td 
              a(href=`/profile/${user.intAccNo}`) #{user.strUserName}
            td #{user.strName}
            td #{user.strBarangay}
            td #{user.strCity}
            td #{user.strEmail}
            td #{user.strContactNo}
            if user.intType =='2'
              td Normal
            else if user.intType =='3'
              td Business
            else
              td Admin
            td 
              a.btn.btn-outline-success(href=`/admin/Unregistered/Accept/${user.strUserName}`) Accept
            td 
              a.btn.btn-outline-dark(onClick=`window.open("/userImages/permits/${user.strValidID}");` href='#' alt='sample') Business Permit
