extends ../../../templates/dash-admin.pug

block main
  block append scripts
    script.
      function showPopup(url) {
        newwindow=window.open(url,'name','resizable=no,height=600,width=1174,top=60,left=140');
        if (window.focus) {newwindow.focus()}
      }
  .jumbotron-admin
    center
      h1 Reported Users
  p  
  center
  .container
    p.font
      table.table.table-striped.table-hover.box-shadow-mini
        thead
          tr  
            th(scope='col') #
            th(scope='col') Username
            th(scope='col') Current Reports
            th(scope='col') Total Reports
            th(scope='col') Actions

        tbody
        each user in resultspug
          tr
            td(style="padding-right: 20px; padding-bottom: 10px;") #{user.intAccNo}
            td 
              a(href=`/profile/${user.intAccNo}` onClick='showPopup(this.href);return(false);') #{user.strUserName}
            td #{user.CurrentCNT}
            td #{user.TotalCNT}
            td 
              a.btn.btn-outline-danger(href=`/admin/Banned/${user.intAccNo}`) Ban  
