extends ../../../templates/dash-admin.pug

block main  
    .jumbotron-admin
        center  
            h1 Reported Users
    p  
    center
    .container
        p.font
            table.table.table-striped.table-hover
                thead
                    tr  
                        th(scope='col') #
                        th(scope='col') Reported User
                        th(scope='col') Name of Reporter
                        th(scope='col') Report Category
                        th(scope='col') Report Date
                        th(scope='col') &nbsp
                        th(scope='col') &nbsp
                tbody         
                tbody
                each user in resultspug
                    tr
                        td(style="padding-right: 20px; padding-bottom: 10px;") #{user.intRepID}
                        td 
                            a(href=`/profile/${user.intRepedAccNo}`) #{user.ReportedName}
                        td #{user.ReporterName}
                        if user.intRepCategory == '1'
                            td Communication Abuse
                        else if user.intRepCategory == '2'
                            td Scammer/Hacker
                        else if user.intRepCategory == '3'
                            td Spammer
                        else if user.intRepCategory == '4'
                            td Others(View Report Description)
                        td #{user.formatDate}
                          
                        td 
                            a.btn.btn-outline-danger(href=`/admin/Banned/${user.ReportedUserName}`) Ban  
                        td
                            a.btn.btn-outline-primary(data-toggle='modal', data-target='#reportdescription') View Description

                            #reportdescription.modal.fade(tabindex='-1', role='dialog', aria-labelledby='repdesc', aria-hidden='true')
                                each user in resultspug
                                    .modal-dialog.modal-dialog-centered(role='document')
                                        .modal-content
                                            .modal-header
                                                h5#exampleModalLongTitle.modal-title Report Description
                                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                span(aria-hidden='true') ×
                                            .modal-body
                                                center  #{user.txtRepDesc}
                                            .modal-footer
                                                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                        

                            
