extends ../../../templates/dash.pug

block main
  mixin hsel
    each hour in ['12','01','02','03','04','05','06','07','08','09','10','11']
      option(value=hour) #{hour}
  mixin msel
    option(value='00' selected='') 00
    each min in ['15','30','45']
      option(value=min) #{min}
  
  mixin dmsel
    option(value='01' selected='') January
    each count in ['02','03','04','05','06','07','08','09','10','11','12']
      each month, index in ['February','March','April','May','June','July','August','September','October','November','December']
        if index+2 == count
          option(value= count) #{month}
  mixin ddsel
    option(value='01' selected='') 01
    each day in ['02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
      option(value= day) #{day}
  
  mixin hoursel(hour)
    each thishour in ['12','01','02','03','04','05','06','07','08','09','10','11']
      if thishour == hour
        option(value= thishour selected='') #{thishour}
      else
        option(value= thishour) #{thishour}
  mixin minsel(min)
    each thismin in ['00','15','30','45']
      if thismin == min
        option(value= thismin selected='') #{thismin}
      else
        option(value= thismin) #{thismin}
  mixin ampmsel(ampm)
    if ampm == 'AM'
      option(value='AM' selected='') AM
      option(value='PM') PM
    else
      option(value='AM') AM
      option(value='PM' selected='') PM
      
  mixin monthsel(thismonth)
    each month, index in ['January','February','March','April','May','June','July','August','September','October','November','December']
      if index+1 == thismonth 
        option(value= thismonth selected='') #{month}
      else
        option(value= index+1) #{month}
  mixin daysel(thisday)
    each day in ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
      if day == thisday
        option(value= day selected='') #{day}
      else
        option(value= day) #{day}
  
  
  
  .container.fill(style='padding:0px')
    .row.chat-wrap
      // Contacts & Conversations
      .col-sm-3.panel-wrap(style="border-right: 1px solid #DDDDDD")
        // Left Menu / Conversation List
        .col-sm-12.section-wrap
          // Header
          .row.header-wrap
            .chat-header.col-sm-12
              .input-group
                input.form-control(type='text', name='q', placeholder='All Services', style='width:100px')
                button#search-btn.btn.btn-primary(type='submit', name='search', href="") Change
                    i.fa(aria-hidden='true')
          // Conversations
          .row.content-wrap
          
            each chat in chattab
              .conversation.btn.pt-3.pb-1
                .media-body
                  .display.chat-part.mb-4(role="gridcell")
                    a.chat-part.display(href="/messages/"+chat.intChatID)
                      .chat-pick.display(data-tooltip-content='Soft', data-hover='tooltip', data-tooltip-position='right', data-tooltip-alignh='center', data-tooltip-root-class='_33g_', aria-hidden='true', style=' margin-right:9px')
                        .chat-pad(style="height: 50px, width: 50px")
                          .chat-img(style="height: 50px, width: 50px")
                            i(style='height: 50px; background-image: url("/assets/images/Tyler.jpg"); background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; width: 50px;')
                      chat4.chatL-m
                        .chat5.chatL-3 
                          h5
                            if chat.intAccNo == chat.intServAccNo
                              span.tag.provider ##{chat.servname}
                            else 
                              span.tag.seeker ##{chat.servname} 
                            span(style='color: black;') #{chat.name}
                        .chat5.chatL-3 
                          if chat.intChatID == params
                            #mess
                              span #{chat.txtMessage}
                            #time
                              small.pull-right.time #{chat.date}
                          else
                            span #{chat.txtMessage}
                            small.pull-right.time #{chat.date}
      // Messages & Info
      .col-sm-9.panel-wrap
        // Main Content / Message List
        #Messages.col-sm-9.section-wrap
          // Header
          each user in thisUserTab
            .row.header-wrap
              .chat-header.col-sm-12
                .row.mt-3.pt-2
                  .col
                      h4(style='color:gold') ##{messOne.strServName}
                        if messOne.sendType == 1
                            span(style='color: white;') &nbsp#{messOne.Seeker}
                        else
                            span(style='color: white;') &nbsp#{messOne.strName}
                  .col.align-right
                    if messOne.sendType == 1 && transstatus == "none" 
                      button.btn.btn-light.btn-md.btn(type='button' data-toggle='modal' data-target='#TOModal') + Transaction Offer
                    else if messOne.sendType == 1 && transstatus == 0
                      button.btn.btn-light.btn-md.btn(type='button' data-toggle='modal' data-target='#editTOModal') * Edit Offer
                    else if messOne.sendType == 2 && transstatus == 0
                      button.btn.btn-light.btn-md.btn(type='button' data-toggle='modal' data-target='#viewTOModal') View Offer
                    else if transstatus == 1
                      span.tag.provider Ongoing
                    else if transstatus == 2
                      span.tag.seeker Finished
                    else if transstatus == 3
                      span.tag.dangerbox Cancelled
            // Messages
            .row.content-wrap.messages
              .col
                #output
                  each mess in messtab
                    .msg
                      .media-body
                          small.pull-right.time
                            i.fa.fa-clock-o
                            | &nbsp#{mess.formatdate}
                          if mess.sendType == mess.intSender
                              h5.right.media-heading #{user.strName}
                          else
                            if user.intAccNo == mess.SAccNo
                                h5.left.media-heading #{mess.strName}
                            else
                                h5.left.media-heading #{mess.Seeker}
                          small.col-sm-11
                            |  #{mess.txtMessage}
            // Message box & Send Button
            if messOne.intChatStatus == 1
              .row.send-wrap
                .send-message
                  .message-text
                    input#chatid(type='text', name='chatid', value= messOne.intChatID, hidden)
                    input#handle(type='text', name='handle', value= user.strName, hidden)
                    input#sender(type='text', name='handle', value= messOne.sendType, hidden)
                    each thisuser in thisUserTab
                      input#thisuser(type='text', name='handle', value=thisuser.intAccNo , hidden)
                    textarea#message.no-resize-bar.form-control(rows='2', name='message', placeholder='Write a message...')
                  a#send.btn.send-button
                    | Send 
                    i.fa.fa-send
                      
  #TOModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='TOModalTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        form(method='POST' action='/messages/transet/'+messOne.intChatID)
          .modal-header
            h5#TOModalTitle.modal-title Create Transaction Offer
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .row
              .col
                label(for='priceType') Price Type
                select#priceType.form-control(name='pricetype')
                  if messOne.intPriceType == 1
                    option(value='1' selected='') Fixed
                    option(value='2') Rate per Hour
                  else
                    option(value='1') Fixed
                    option(value='2' selected='') Rate per Hour
                  
              .col
                label(for='price') Price
                #price.input-group.mb-3
                  .input-group-prepend
                    span.input-group-text Php
                  input.form-control(type='text' name='price' value=messOne.fltPrice placeholder='00.00' required)
            center
              label Schedule
            .row
              .col
                select#S-addMonth.form-control(name='addMonth')
                  +dmsel
              .col
                select#S-addDay.form-control(name='addDay')
                  +ddsel
              .col
                input.form-control(type='number' name='addYear' placeholder='Year(eg.2018)' max='9999' required)
            br
            .row
              .col
                p.mt-1.text-center Start
              .col
                select#S-Shours.form-control(name='Shours')    
                  +hsel
              .col
                select#S-Sminutes.form-control(name='Sminutes')
                  +msel
              .col
                select#S-Sampm.form-control(name='Sampm')
                  option(value='AM' selected='') AM
                  option(value='PM') PM
          
          .modal-footer
            button.btn.btn-primary(type='submit') Submit
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            
  #editTOModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editTOModalTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
          form(method='POST' action='/messages/transet/edit/'+messOne.intChatID)
            each trans in transtab
              .modal-header
                h5#editTOModalTitle.modal-title Edit Transaction Offer
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') ×
              .modal-body
                .row
                  .col
                    label(for='priceType') Price Type
                    select#priceType.form-control(name='pricetype')
                      if trans.intTransPriceType == 1
                        option(value='1' selected='') Fixed
                        option(value='2') Rate per Hour
                      else
                        option(value='1') Fixed
                        option(value='2' selected='') Rate per Hour
                      
                  .col
                    label(for='price') Price
                    #price.input-group.mb-3
                      .input-group-prepend
                        span.input-group-text Php
                      input.form-control(type='text' name='price' value=trans.fltTransPrice placeholder='00.00' required)
                center
                  label Schedule
                .row
                  .col
                    select#S-addMonth.form-control(name='addMonth')
                      +monthsel(trans.month)
                  .col
                    select#S-addDay.form-control(name='addDay')
                      +daysel(trans.day)
                  .col
                    input.form-control(type='number' name='addYear' placeholder='Year(eg.2018)' max='9999' value=trans.year required)
                br
                .row
                  .col
                    p.mt-1.text-center Start
                  .col
                    select#S-Shours.form-control(name='Shours')    
                      +hoursel(trans.Hstart)
                  .col
                    select#S-Sminutes.form-control(name='Sminutes')
                      +minsel(trans.Mstart)
                  .col
                    select#S-Sampm.form-control(name='Sampm')
                      +ampmsel(trans.Sampm)
              
              .modal-footer
                button.btn.btn-primary(type='submit') Submit
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close

  #viewTOModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='viewTOModalTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        form(method='POST' action='/messages/transet/accept/'+messOne.intChatID)
          .modal-header 
            h5#viewTOModalTitle.modal-title View Transaction Offer
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .row
              .col
                each trans in transtab
                  if trans.intTransPriceType == 1
                    p
                      b Price: 
                      | Php #{trans.formatPrice}
                  else
                    p
                      b Price: 
                      | Php #{trans.formatPrice}/hr
                  p
                    b Date Scheduled: 
                    | #{trans.date}
                    
              .col
                  
          .modal-footer
            button.btn.btn-primary.btn-block(type='submit') Accept Offer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

  block chatmess
