extends ../../../templates/dash.pug

block main
  block append scripts
    script.
      $(document).ready(function () {
        $('#TOWorkers').on('show.bs.modal', function () {
          $('#TOModal').css('z-index', 1039);
        });

        $('#TOWorkers').on('hidden.bs.modal', function () {
          $('#TOModal').css('z-index', 1041);
        });
        
        $('#viewTOWorkers').on('show.bs.modal', function () {
          $('#viewTOModal').css('z-index', 1039);
        });

        $('#viewTOWorkers').on('hidden.bs.modal', function () {
          $('#viewTOModal').css('z-index', 1041);
        });
        
        $('#editTOWorkers').on('show.bs.modal', function () {
          $('#editTOModal').css('z-index', 1039);
        });

        $('#editTOWorkers').on('hidden.bs.modal', function () {
          $('#editTOModal').css('z-index', 1041);
        });
      });

      $('#checkBtn').click(function() {
        checked = $("input[type=checkbox]:checked").length;

        if(!checked) {
          $('#checkError').css('display', 'block');
          return false;
        }
        else {
          $('#checkError').css('display', 'none');
        }
      });
      
      $('#checkBtnEdit').click(function() {
        checked = $("input[type=checkbox]:checked").length;

        if(!checked) {
          $('#checkErrorEdit').css('display', 'block');
          return false;
        }
        else {
          $('#checkErrorEdit').css('display', 'none');
        }
      });

  mixin hsel
    each hour in ['12','01','02','03','04','05','06','07','08','09','10','11']
      option(value=hour) #{hour}
  mixin msel
    option(value='00' selected='') 00
    each min in ['15','30','45']
      option(value=min) #{min}

  mixin dmsel
    option(value='01' selected='') January
    each count in ['02','03','04','05','06','07','08','09','10','11','12']
      each month, index in ['February','March','April','May','June','July','August','September','October','November','December']
        if index+2 == count
          option(value= count) #{month}
  mixin ddsel
    option(value='01' selected='') 01
    each day in ['02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
      option(value= day) #{day}

  mixin hoursel(hour)
    each thishour in ['12','01','02','03','04','05','06','07','08','09','10','11']
      if thishour == hour
        option(value= thishour selected='') #{thishour}
      else
        option(value= thishour) #{thishour}
  mixin minsel(min)
    each thismin in ['00','15','30','45']
      if thismin == min
        option(value= thismin selected='') #{thismin}
      else
        option(value= thismin) #{thismin}
  mixin ampmsel(ampm)
    if ampm == 'AM'
      option(value='AM' selected='') AM
      option(value='PM') PM
    else
      option(value='AM') AM
      option(value='PM' selected='') PM

  mixin monthsel(thismonth)
    each month, index in ['January','February','March','April','May','June','July','August','September','October','November','December']
      if index+1 == thismonth 
        option(value= thismonth selected='') #{month}
      else
        option(value= index+1) #{month}
  mixin daysel(thisday)
    each day in ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
      if day == thisday
        option(value= day selected='') #{day}
      else
        option(value= day) #{day}

  mixin regsched(day,daystr,schedday,start,end)
    if day == 2
      tr
        th(scope="row") #{daystr}
        td None
    else if schedday == daystr
      tr
        th(scope="row") #{daystr}
        td #{start} - #{end}

  mixin providertag(tagEllipsis, strServName, servname)
    if tagEllipsis == 1
      span.tag.provider(data-toggle="tooltip" data-placement="top" title=strServName) ##{servname}
    else
      span.tag.provider ##{servname}
  mixin seekertag(tagEllipsis, strServName, servname)
    if tagEllipsis == 1
      span.tag.seeker(data-toggle="tooltip" data-placement="top" title=strServName) ##{servname}
    else
      span.tag.seeker ##{servname}

  .container.fill(style='padding:0px')
    .row.chat-wrap
      // Contacts & Conversations
      .col-sm-3.panel-wrap(style="border-right: 1px solid #DDDDDD")
        // Left Menu / Conversation List
        .row.header-wrap(style="width: 316px; margin: 0px; height: 67px;")
          .chat-header.col-sm-12
            .input-group
              button.btn.btn-nav.btn-block(type='button' data-toggle='modal' data-target='#ServTag') View Services
                i.fa(aria-hidden='true')
        .col-sm-12.section-wrap(style="width: 316px; overflow: auto")
          // Header
          // Conversations
          .row.content-wrap
            each chat in chattab
              if chat.intChatStatus == 1
                .chat-is-active
              else
                .chat-is-inactive
                  
              if chat.intChatID == messOne.intChatID
                if chat.intChatStatus == 1
                  .chat-is-selected-active
                else
                  .chat-is-selected-inactive
              else
                if thisuser.intAccNo == chat.intServAccNo && chat.intMessPSeen == 0
                  .chat-has-new
                if thisuser.intAccNo == chat.intChatSeeker && chat.intMessSSeen == 0
                  .chat-has-new
                    
              .conversation.btn.pt-3.pb-1
                  .media-body
                    .display.chat-part.mb-4(role="gridcell")
                      a.chat-part.display(href="/messages/"+chat.intChatID)
                        .chat-pick.display(data-tooltip-content='Soft', data-hover='tooltip', data-tooltip-position='right', data-tooltip-alignh='center', data-tooltip-root-class='_33g_', aria-hidden='true', style=' margin-right:9px')
                          .chat-pad(style="height: 50px, width: 50px")
                            .chat-img(style="height: 50px, width: 50px")
                              img(src='/userImages/profile/'+chat.strProfilePic alt='' height="50" width="50")
                        chat4.chatL-m(style="width: 100%;")
                          .chat5.chatL-3 
                            h5
                              if chat.intAccNo == chat.intServAccNo
                                +providertag(chat.tagEllipsis, chat.strServName, chat.servname)
                              else 
                                +seekertag(chat.tagEllipsis, chat.strServName, chat.servname)

                              if chat.ellipsis == 1
                                span(data-toggle="tooltip" data-placement="top" title=chat.strName style='color: black;') #{chat.name}
                              else
                                span(style='color: black;') #{chat.name}
                          .chat5.chatL-3 
                            if chat.intChatID == params
                              #mess
                                span #{chat.txtMessage}
                              .time-cont
                                small.pull-right.time #{chat.date}
                            else
                              span #{chat.txtMessage}
                              small.pull-right.time #{chat.date}

      // Messages & Info
      .col-sm-9.panel-wrap
        // Main Content / Message List
        #Messages.col-sm-9.section-wrap(style="height: 100%;")
          // Header
          each user in thisUserTab
            .row.header-wrap
              .chat-header.col-sm-12(style="height: 67px;")
                .row.pt-2(style="margin-top: 10px !important;")
                  .col(style="padding-top: 3px;")
                    h4(style='color:#374850') ##{messOne.strServName}
                      if messOne.sendType == 1
                        span(style='color: white;') &nbsp#{messOne.Seeker}
                      else
                        span(style='color: white;') &nbsp#{messOne.strName}
                  .col.align-right
                    if transstatus == 2
                      span.tag.seeker Finished
                    else if transstatus == 3 || messOne.intChatStatus == 0
                      span.tag.dangerbox Cancelled
                    else if messOne.sendType == 1 && transstatus == "none"
                      button.btn.btn-light.btn-md.btn.ml-2(type='button' data-toggle='modal' data-target='#TOModal') + Transaction Offer
                    else if messOne.sendType == 1 && transstatus == 0
                      button.btn.btn-light.btn-md.btn.ml-2(type='button' data-toggle='modal' data-target='#editTOModal') * Edit Offer
                    else if messOne.sendType == 2 && transstatus == 0
                      button.btn.btn-light.btn-md.btn.ml-2(type='button' data-toggle='modal' data-target='#viewTOModal') View Offer
                    else if transstatus == 1
                      span.tag.provider Ongoing
                    else if transstatus == 2
                      span.tag.seeker Finished
                    if messOne.sendType == 2 && transstatus != 3 && messOne.intChatStatus != 0
                      button.btn.btn-light.btn-md.btn.ml-2(type='button' data-toggle='modal' data-target='#PSModal') Schedule
                    if transstatus != 2 && transstatus != 3 && messOne.intChatStatus != 0
                      button.btn.btn-danger.btn-md.btn.ml-2(type='button' data-toggle='modal' data-target='#Cancel') Cancel
            // Messages
            .row.content-wrap.messages(style="overflow: auto;")
              .col
                #output(style="height: 100%;")
                  each mess in messtab
                    .msg
                      .media-body
                        small.pull-right.time
                          i.fa.fa-clock-o
                          | &nbsp#{mess.formatdate}
                        if mess.sendType == mess.intSender
                          h5.right.media-heading #{user.strName}
                        else
                          if user.intAccNo == mess.SAccNo
                            h5.left.media-heading #{mess.strName}
                          else
                            h5.left.media-heading #{mess.Seeker}
                        small.col-sm-11
                          |  #{mess.txtMessage}
            // Message box & Send Button
            if messOne.intChatStatus == 1
              .row.send-wrap
                .send-message
                  .message-text
                    input#chatid(type='text', name='chatid', value= messOne.intChatID, hidden)
                    input#handle(type='text', name='handle', value= user.strName, hidden)
                    input#sender(type='text', name='handle', value= messOne.sendType, hidden)
                    each thisuser in thisUserTab
                      input#thisuser(type='text', name='handle', value=thisuser.intAccNo , hidden)
                    textarea#message.no-resize-bar.form-control(rows='2', name='message', placeholder='Write a message...' maxlength="65500")
                  a#send.btn.send-button
                    | Send 
                    i.fa.fa-send

  form(method='POST' action='/messages/transet/'+messOne.intChatID)
    #TOModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='TOModalTitle' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#TOModalTitle.modal-title Create Transaction Offer
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .row
              .col
                label(for='priceType') Price Type
                select#priceType.form-control(name='pricetype')
                  if messOne.intPriceType == 1
                    option(value='1' selected='') Fixed
                    option(value='2') Rate per Hour
                  else
                    option(value='1') Fixed
                    option(value='2' selected='') Rate per Hour

              .col
                label(for='price') Price
                #price.input-group.mb-3
                  .input-group-prepend
                    span.input-group-text Php
                  input.form-control(type='number' name='price' value=messOne.fltPrice placeholder='00.00' required)
            center
              label Schedule
            .row
              .col
                select#S-addMonth.form-control(name='addMonth')
                  +dmsel
              .col
                select#S-addDay.form-control(name='addDay')
                  +ddsel
              .col
                input.form-control(type='number' name='addYear' placeholder='Year(eg.2018)' max='9999' required)
            br
            .row
              .col
                p.mt-1.text-center Start
              .col
                select#S-Shours.form-control(name='Shours')    
                  +hsel
              .col
                select#S-Sminutes.form-control(name='Sminutes')
                  +msel
              .col
                select#S-Sampm.form-control(name='Sampm')
                  option(value='AM' selected='') AM
                  option(value='PM') PM

          .modal-footer
            if thisuser.intType == 2
              button.btn.btn-primary(type='submit') Submit
            else
              button.btn.btn-primary(type='button' data-toggle='modal' data-target='#TOWorkers') Proceed to Workers                      
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

    #TOWorkers.modal.fade(tabindex='-1' role='dialog' aria-labelledby='TOWorkersTitle' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#TOWorkersTitle.modal-title Select Workers
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .row
              .col
                small.text-muted Select Atleast One
                #checkError.alert.alert-danger.mt-2(role='alert' style='display:none')
                  | Select Atleast One Worker

                .mt-2.pt-3(style="border-top: 1px solid #007BFF;")
                  each work,index in workers
                    .form-check.mx-2
                      input.form-check-input(type='checkbox' name=work.intWorkerID style="height: 20px; width: 20px;")
                      label.form-check-label(style="margin-left: 15px; font-size: 18px;") #{work.strWorker}
                    hr
          .modal-footer
            button#checkBtn.btn.btn-primary(type='submit') Submit
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            
  form(method='POST' action='/messages/transet/edit/'+messOne.intChatID)
    #editTOModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editTOModalTitle' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
            each trans in transtab
              .modal-header
                h5#editTOModalTitle.modal-title Edit Transaction Offer
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') ×
              .modal-body
                .row
                  .col
                    label(for='priceType') Price Type
                    select#priceType.form-control(name='pricetype')
                      if trans.intTransPriceType == 1
                        option(value='1' selected='') Fixed
                        option(value='2') Rate per Hour
                      else
                        option(value='1') Fixed
                        option(value='2' selected='') Rate per Hour

                  .col
                    label(for='price') Price
                    #price.input-group.mb-3
                      .input-group-prepend
                        span.input-group-text Php
                      input.form-control(type='number' name='price' value=trans.fltTransPrice placeholder='00.00' required)
                center
                  label Schedule
                .row
                  .col
                    select#S-addMonth.form-control(name='addMonth')
                      +monthsel(trans.month)
                  .col
                    select#S-addDay.form-control(name='addDay')
                      +daysel(trans.day)
                  .col
                    input.form-control(type='number' name='addYear' placeholder='Year(eg.2018)' max='9999' value=trans.year required)
                br
                .row
                  .col
                    p.mt-1.text-center Start
                  .col
                    select#S-Shours.form-control(name='Shours')    
                      +hoursel(trans.Hstart)
                  .col
                    select#S-Sminutes.form-control(name='Sminutes')
                      +minsel(trans.Mstart)
                  .col
                    select#S-Sampm.form-control(name='Sampm')
                      +ampmsel(trans.Sampm)

              .modal-footer
                if thisuser.intType == 2
                  button.btn.btn-primary(type='submit') Submit
                else
                  button.btn.btn-primary(type='button' data-toggle='modal' data-target='#editTOWorkers') Proceed to Workers                      
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
    
    #editTOWorkers.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editTOWorkersTitle' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#editTOWorkersTitle.modal-title Edit Selected Workers
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .row
              .col
                small.text-muted Select Atleast One
                #checkErrorEdit.alert.alert-danger.mt-2(role='alert' style='display:none')
                  | Select Atleast One Worker

                .mt-2.pt-3(style="border-top: 1px solid #007BFF;")
                  each transwork,index in transworkers
                    if index == 0
                      - transID = transwork.intTransID
                  each work,index in workers
                    .form-check.mx-2
                      if work.intWorkerTrans == transID
                        input.form-check-input(type='checkbox' name=work.intWorkerID style="height: 20px; width: 20px;" checked)
                      else
                        input.form-check-input(type='checkbox' name=work.intWorkerID style="height: 20px; width: 20px;")
                      label.form-check-label(style="margin-left: 15px; font-size: 18px;") #{work.strWorker}
                    hr
          .modal-footer
            button#checkBtnEdit.btn.btn-primary(type='submit') Submit
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

  #viewTOModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='viewTOModalTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        form(method='POST' action='/messages/transet/accept/'+messOne.intChatID)
          .modal-header 
            h5#viewTOModalTitle.modal-title View Transaction Offer
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .row
              .col
                each trans in transtab
                  if trans.intTransPriceType == 1
                    p
                      b Price: 
                      | Php #{trans.formatPrice}
                  else
                    p
                      b Price: 
                      | Php #{trans.formatPrice}/hr
                  p
                    b Date Scheduled: 
                    | #{trans.date}
                  
                  if trans.intType == 3  
                    button.btn.btn-primary(type='button' data-toggle='modal' data-target='#viewTOWorkers') View Workers                      

          .modal-footer
            button.btn.btn-primary.btn-block(type='submit') Accept Offer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

  #viewTOWorkers.modal.fade(tabindex='-1' role='dialog' aria-labelledby='viewTOWorkersTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#viewTOWorkersTitle.modal-title View Workers
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          .row
            .col
              .mt-2.pt-3(style="border-top: 1px solid #007BFF;")
                each transwork in transworkers
                  h5 #{transwork.strWorker}
                  hr
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close

  #PSModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='PSModalTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        each day in todayTab
          .modal-header
            h5#PSModalTitle.modal-title Provider Schedule
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .row
              .col
                h5(style="display:inline;") #{day.strName}
                br
                h7(style="display:inline;") #{day.strCity}
                h7(style="display:inline;") &nbsp- #{day.strBarangay} (#{day.strContactNo})
                br
                br
                table.table.table-striped.box-shadow-mini
                  thead.text-white
                    tr
                      th.align-left(scope='col' colspan="2") Today's Working Hours
                  tbody
                    tr
                      th(scope='row') #{day.date}
                      if day.unav == 1
                        td Unavailable
                      else if day.unav == 0
                        td #{day.formatstart} - #{day.formatend}
                      else
                        td none
            .row
              .col
                table.table.table-striped.box-shadow-mini
                  thead
                    tr
                      th.align-left.text-white(scope='col' colspan='2') Regular Working Hours
                  tbody
                    if empty == 1
                      tr
                        td
                          i No Schedule Detected
                    else
                      each sched in regSchedTab
                        +regsched(sched.sunday,"Sunday",sched.strSchedDay,sched.formatstart,sched.formatend)
                      each sched in regSchedTab
                        +regsched(sched.monday,"Monday",sched.strSchedDay,sched.formatstart,sched.formatend)
                      each sched in regSchedTab
                        +regsched(sched.tuesday,"Tuesday",sched.strSchedDay,sched.formatstart,sched.formatend)
                      each sched in regSchedTab
                        +regsched(sched.wednesday,"Wednesday",sched.strSchedDay,sched.formatstart,sched.formatend)
                      each sched in regSchedTab
                        +regsched(sched.thursday,"Thursday",sched.strSchedDay,sched.formatstart,sched.formatend)
                      each sched in regSchedTab
                        +regsched(sched.friday,"Friday",sched.strSchedDay,sched.formatstart,sched.formatend)
                      each sched in regSchedTab
                        +regsched(sched.saturday,"Saturday",sched.strSchedDay,sched.formatstart,sched.formatend)
            .row
              .col
                table.table.table-striped.box-shadow-mini
                  thead.text-white
                    tr
                      th.align-left(scope='col' colspan='2') Special Working Hours
                  tbody
                    if emptyspecial == 1
                      tr
                        td(colspan="2")
                          i No Schedule Detected
                    else
                      each spec in specSchedTab
                        tr
                          th(scope='row') #{spec.date}
                          if spec.unav == 1
                            td Unavailable
                          else
                            td #{spec.formatstart} - #{spec.formatend}
          br
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

  #Cancel.modal.fade(tabindex='-1' role='dialog' aria-labelledby='CancelTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        form(method='POST' action='/messages/cancel/'+messOne.intChatID)
          .modal-header 
            h5#CancelTitle.modal-title Cancel transaction
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .row
              .col
                p You are about to&nbsp
                  span(style='color: red;') Cancel&nbsp
                  | this Chat and it's transaction
                label(for='desc') Cancel Description:
                textarea.form-control(rows='5' name='desc' maxlength="65500" required)

          .modal-footer
            button.btn.btn-danger(type='submit') Submit
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

  #ServTag.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ServTagTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#ServTagTitle.modal-title Message Services
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          each serv in messServ
            .row.mb-3
              .col
                h4(style="display: inline; color: #2FAF7A;") #{serv.strServName}

        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close

  block chatmess
