extends ../../../templates/dash.pug

block main
  .container.fill(style='padding:0px')
    .row.chat-wrap
      // Contacts & Conversations
      .col-sm-3.panel-wrap(style="border-right: 1px solid #DDDDDD")
        // Left Menu / Conversation List
        .col-sm-12.section-wrap
          // Header
          .row.header-wrap
            .chat-header.col-sm-12
              .input-group
                input.form-control(type='text', name='q', placeholder='All Services', style='width:100px')
                button#search-btn.btn.btn-primary(type='submit', name='search', href="") Change
                    i.fa(aria-hidden='true')
          // Conversations
          .row.content-wrap
          
            each chat in chattab
              .conversation.btn.pt-3.pb-1
                .media-body
                  .display.chat-part.mb-4(role="gridcell")
                    a.chat-part.display(href="/messages/"+chat.intChatID)
                      .chat-pick.display(data-tooltip-content='Soft', data-hover='tooltip', data-tooltip-position='right', data-tooltip-alignh='center', data-tooltip-root-class='_33g_', aria-hidden='true', style=' margin-right:9px')
                        .chat-pad(style="height: 50px, width: 50px")
                          .chat-img(style="height: 50px, width: 50px")
                            i(style='height: 50px; background-image: url("/assets/images/Tyler.jpg"); background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; width: 50px;')
                      chat4.chatL-m
                        .chat5.chatL-3 
                          h5
                            if chat.intAccNo == chat.intServAccNo
                              span.tag.provider ##{chat.servname}
                            else 
                              span.tag.seeker ##{chat.servname} 
                            span(style='color: black;') #{chat.name}
                        .chat5.chatL-3 
                          if chat.intChatID == params
                            #mess
                              span #{chat.txtMessage}
                            #time
                              small.pull-right.time #{chat.date}
                          else
                            span #{chat.txtMessage}
                            small.pull-right.time #{chat.date}
      // Messages & Info
      .col-sm-9.panel-wrap
        // Main Content / Message List
        #Messages.col-sm-9.section-wrap
          // Header
          each user in thisUserTab
            .row.header-wrap
              .chat-header.col-sm-12
                h4(style='color:gold') ##{messOne.strServName}
                  if messOne.sendType == 1
                      span(style='color: white;') &nbsp#{messOne.Seeker}
                  else
                      span(style='color: white;') &nbsp#{messOne.strName}
            // Messages
            .row.content-wrap.messages
              .col
                #output
                  each mess in messtab
                    .msg
                      .media-body
                          small.pull-right.time
                            i.fa.fa-clock-o
                            | &nbsp#{mess.formatdate}
                          if mess.sendType == mess.intSender
                              h5.right.media-heading #{user.strName}
                          else
                            if user.intAccNo == mess.SAccNo
                                h5.left.media-heading #{mess.strName}
                            else
                                h5.left.media-heading #{mess.Seeker}
                          small.col-sm-11
                            |  #{mess.txtMessage}
            // Message box & Send Button
            if messOne.intChatStatus == 1
              .row.send-wrap
                .send-message
                  .message-text
                    input#chatid(type='text', name='chatid', value= messOne.intChatID, hidden)
                    input#handle(type='text', name='handle', value= user.strName, hidden)
                    input#sender(type='text', name='handle', value= messOne.sendType, hidden)
                    textarea#message.no-resize-bar.form-control(rows='2', name='message', placeholder='Write a message...')
                  a#send.btn.send-button
                    | Send 
                    i.fa.fa-send
