extends ../../../templates/dash.pug

block main
  .container.fill(style='padding:0px')
    .row.chat-wrap
      // Contacts & Conversations
      .col-sm-3.panel-wrap(style="border-right: 1px solid #DDDDDD")
        // Left Menu / Conversation List
        .col-sm-12.section-wrap
          // Header
          .row.header-wrap
            .chat-header.col-sm-12
              .input-group
                input.form-control(type='text', name='q', placeholder='All Services', style='width:100px')
                button#search-btn.btn.btn-primary(type='submit', name='search', href="") Change
                    i.fa(aria-hidden='true')
          // Conversations
          .row.content-wrap
            .conversation.btn
              .media-body
                .display.chat-part(role="gridcell")
                  a.chat-part.display
                    .chat-pick.display(data-tooltip-content='Soft', data-hover='tooltip', data-tooltip-position='right', data-tooltip-alignh='center', data-tooltip-root-class='_33g_', aria-hidden='true', style=' margin-right:9px')
                      .chat-pad(style="height: 50px, width: 50px")
                        .chat-img(style="height: 50px, width: 50px")
                          i(style='height: 50px; background-image: url("/assets/images/Tyler.jpg"); background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; width: 50px;')
                    chat4.chatL-m
                      .chat5.chatL-3 
                        h5 #Plumber (STYLE 2)
                      .chat5.chatL-3 
                        span TakeOff
                        small.pull-right.time(style='margin-left: 110px') 02:10am
      // Messages & Info
      .col-sm-9.panel-wrap
        // Main Content / Message List
        #Messages.col-sm-9.section-wrap
          // Header
          each user in usertab
            .row.header-wrap
              .chat-header.col-sm-12
                if messOne.sendType == 1
                  h4(style='color:gold') ##{messOne.strServName} #{messOne.Seeker}
                else
                  h4(style='color:gold') ##{messOne.strServName} #{messOne.strName}
            // Messages
            .row.content-wrap.messages
              .col
                #output
                  each mess in messtab
                    .msg
                      .media-body
                          small.pull-right.time
                            i.fa.fa-clock-o
                            | #{mess.dtmDateSent}
                          if mess.sendType == mess.intSender
                              h5.right.media-heading #{user.strName}
                          else
                            if user.intAccNo == mess.SAccNo
                                h5.left.media-heading #{mess.strName}
                            else
                                h5.left.media-heading #{mess.Seeker}
                          small.col-sm-11
                            |  #{mess.txtMessage}
            // Message box & Send Button
            .row.send-wrap
              .send-message
                .message-text
                  input#chatid(type='text', name='chatid', value= messOne.intChatID, hidden)
                  input#handle(type='text', name='handle', value= user.strName, hidden)
                  input#sender(type='text', name='handle', value= messOne.sendType, hidden)
                  textarea#message.no-resize-bar.form-control(rows='2', name='message', placeholder='Write a message...')
                a#send.btn.send-button
                  | Send 
                  i.fa.fa-send
