extends ../../../templates/master.pug

block content
  block append stylesheets
    link(rel='stylesheet', type='text/css', href='/assets/custom/voucher.css')
  #page-wrap
    div.my-4(align="center")
      h1.title TRABAWHO
    each invoice, index in invoicetab
      if index == 0
        #identity
          #address
            b Provider Details
            br
            b Account No. : 
            | #{invoice.prepAccNo}
            br
            b Name : 
            | #{invoice.strName}
            br
            b E-mail : 
            | #{invoice.strEmail}
      else
        #customer
          #customer-title
            b Seeker Details
            br
            b Account No. : 
            | #{invoice.prepAccNo}
            br
            b Name : 
            | #{invoice.strName}
            br
            b E-mail : 
            | #{invoice.strEmail}
          table#meta
            tr
              td.meta-head Transaction #
              td #{invoice.prepTransID}
            tr
              td.meta-head Date Scheduled
              td #{invoice.date}
            tr
              td.meta-head Amount Due
              if invoice.intTransPriceType == 1
                td Php #{invoice.formatPrice}
              else
                td Php #{invoice.formatPrice}/hr
    
    .row.mb-3
      .col
        each invoice, index in invoicetab
          if index == 1
            table.items.mb-3
              thead
                tr
                  th Service
                  th Price 
              tbody
                tr
                  td(style="height: 40px;")
                    | #{invoice.strServName}
                  td(style="height: 40px;")
                    if invoice.intTransPriceType == 1
                      | Php #{invoice.formatPrice}
                    else
                      | Php #{invoice.formatPrice}/hr            
      .col
        table.items
          thead
            tr
              th Workers
          tbody
            - emptyWork = 1
            each work in workers
              - emptyWork = 0
              tr.item-row
                td(style="height: 40px;")
                  | #{work.strWorker}
            if emptyWork == 1
              tr.item-row
                td(style="height: 40px;")
                  i Only for Business-type Providers
    h8
      | -
    h9
      | -
    #terms
      h5 Terms
      text
        | Print This Form.
        br
        |(Ctrl + p)
    h1.subtitle -------------------------------------------------
    p
      sup Cut Here
