extends ../../../templates/dash.pug

block main
  block append stylesheets
    link(rel='stylesheet', type='text/css', href='/assets/custom/switch.css')
  block append scripts
    script(type='text/javascript', src='/assets/scripts/bootstrap-filestyle.min.js')
    script.
      $(":file").filestyle();

      $('#WorkerEdit').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var workername = button.data('workername')
        var status = button.data('status')
        var workid = button.data('workid')

        var modal = $(this)
        modal.find('.modal-body input').val(workid)
        modal.find('.modal-body span').text(workername)

        var sel = document.getElementById('sel');
        var opts = sel.options;
        for (var opt, j = 0; opt = opts[j]; j++) {
          if (opt.value == status) {
            sel.selectedIndex = j;
            break;
          }
        }
      })

      $(document).ready(function () {
        $('#WorkerEdit').on('show.bs.modal', function () {
          $('#Workers').css('z-index', 1039);
        });

        $('#WorkerEdit').on('hidden.bs.modal', function () {
          $('#Workers').css('z-index', 1041);
        });
      });

  .jumbotron-banner(style='height:100px')
    center
  .sector(style='margin-top:0px; padding:0px')
  each thisuser in thisUserTab
    each paramsuser,index in paramsUser
      if index == 0
        .sector-container-profile
          .profile-container
            #left-pane.col-sm-3
              img(src='/userImages/profile/'+paramsuser.strProfilePic, alt='Card image cap', style='height: 10rem; width: 10rem; border-right: 1px solid; ')
            #center-pane.col-sm-3
              h1(style='margin-left:15px; margin-top:40px; margin-bottom:10px !important') #{paramsuser.strName}
                if paramsuser.current != 1
                  button#report.btn.btn-danger.btn-md.btn(type='button' data-toggle='modal' data-target='#reportModal' style='padding-top:8px')
                    i.fa.fa-exclamation.fa-2x(style='height:35px; width:35px;')
                else
                  if thisuser.intType == 3
                    button#report.btn.btn-info.btn-md.btn(type='button' data-toggle='modal' data-target='#Workers')
                      i.fa.fa-users.fa-2x(style='height:35px; width:35px;')
                  button#report.btn.btn-light.btn-md.btn.ml-2(type='button' data-toggle='modal' data-target='#editModal' title='Edit')
                    img(src='/assets/images/icons/settings.png' style='height:35px; width:35px;')

              if paramsuser.intStatus == 1
                span.font3.tag.unverified(style='margin-left:15px;') Unverified 
              else
                span.font3.tag.verified.text-white(style='margin-left:15px;') Verified
              span.font3(style='margin-left:5px;') #{paramsuser.prepend}
            #right-pane.col-sm-3
              table
                tbody
                  tr
                    td(style='padding-top:3px', data-toggle='tooltip', data-placement='left', title='Seeker and Provider rating')
                      img(src='/assets/images/Icons/star.png', alt='star', style='height: 2rem; width: 2rem; margin-top:5px; margin-left:50px;')
                      h2(style='float: right; margin-right: 50px; margin-bottom: 0rem') #{paramsuser.ave}
                      h4.profileA(style='margin-bottom: 0rem; margin-top:0px; display:inline-block') Rating
                  tr
                    td(style='padding-top:3px', data-toggle='tooltip', data-placement='left', title='Jobs finished as a Provider')
                      img(src='/assets/images/Icons/case.png', alt='case', style='height: 2rem; width: 2rem; margin-top:5px; margin-left:50px;')
                      h2(style='float: right; margin-right: 50px; margin-bottom: 0rem') #{paramsuser.sum}
                      h4.profileB(style='margin-bottom: 0rem; margin-top:0px; display:inline-block') Provided

    nav
      .card.text-center(style='min-height: 450px; width:1286px')
        .card-header(style='padding-bottom:0rem')
          each paramsuser, index in paramsUser
            if index == 0
              #nav-tab.nav.nav-tabs(role='tablist', style='border:0px')
                a#personal-info-tab.nav-item.nav-link.active.selected.text-b(data-toggle='tab', href='#Personal-Info', role='tab', aria-controls='Personal-Info', aria-selected='false' selected='') Personal Info
                a#services-tab.nav-item.nav-link.text-b(data-toggle='tab', href='#Services', role='tab', aria-controls='Services', aria-selected='false') Services
                a#reviews-tab.nav-item.nav-link.text-b(data-toggle='tab', href='#Reviews', role='tab', aria-controls='Reviews', aria-selected='false') Reviews
                a#portfolio-tab.nav-item.nav-link.text-b(data-toggle='tab', href='#Portfolio', role='tab', aria-controls='Portfolio', aria-selected='false') Portfolio
        #nav-tabContent.tab-content
          #Personal-Info.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='personal-info-tab')
            each paramsuser, index in paramsUser
              if index == 0
                .col-sm-3
                  if paramsuser.intType == 3
                    i.fa.fa-user-circle.fa-2x.mb-4
                    span.font2 Owner: #{paramsuser.strOwner}
                    br
                  i.fa.fa-building.fa-2x.mb-4
                  span.font2 City: #{paramsuser.strCity}
                  br
                  i.fa.fa-address-book.fa-2x.mb-4
                  span.font2 Contact: #{paramsuser.strContactNo}
                .col-sm-3
                  if paramsuser.intType == 3
                    i.fa.fa-building.fa-2x.mb-4(style="visibility: hidden")
                    span.font2(style="visibility: hidden") Blank
                    br
                  i.fa.fa-home.fa-2x.mb-4
                  span.font2 Barangay: #{paramsuser.strBarangay}
                  br
                  i.fa.fa-envelope.fa-2x.mb-4
                  span.font2 Email: #{paramsuser.strEmail}
          #Services.tab-pane.fade(role='tabpanel', aria-labelledby='services-tab')
            center
              .container(style='padding-top: 20px; padding-bottom: 20px')
                p.font
                  table.table.table-striped.font1.box-shadow-mini
                    thead
                      tr.text-white
                        th(scope='col') Service
                        th(scope='col') Price
                        th(scope='col') Status
                    tbody
                      each serv,index in paramsUser
                        if !serv.intServID
                          tr
                            td(colspan='3')
                              i None
                        else
                          tr
                            td #{serv.strServName}
                            if serv.intPriceType == '1'
                              td Php #{serv.formatPrice}
                            else 
                              td Php #{serv.formatPrice} / hr
                            if serv.intServStatus == '1'
                              td Available
                            else if serv.intServStatus == '0'
                              td Unavailable
                            else if serv.intServStatus == '2'
                              td Unavailable(Ongoing) 
          #Reviews.tab-pane.fade(role='tabpanel', aria-labelledby='reviews-tab', style='height: auto')
            .sector-container-footer
              - emptyRev = 1
              each rev in reviews
                - emptyRev = 0
                .footer-container
                  .col-sm-3
                    .pull-left.image
                      .chat-img(style='height:80px; width:80px')
                        img.img-circle(src='/userImages/profile/'+rev.strProfilePic alt='User Image' height="85" width="85")
                  .col-sm-3
                    h5(style="display: inline;")
                      if rev.intChatSeeker == rev.intAccNo
                        span.tag.seeker #{rev.strServName}
                      else
                        span.tag.provider #{rev.strServName}
                    h2(style="display: inline;") #{rev.strName} 
                    h3.mt-2 #{rev.txtRateReview}
                  .col-sm-3
                    img(src='/assets/images/Icons/star.png', alt='star', style='height: 4rem; width: 4rem; margin-top:5px; float:left')
                    h1(style='float:right; margin-top: 20px') #{rev.intRating}
              if emptyRev == 1
                i No reviews to display
          #Portfolio.tab-pane.fade(role='tabpanel', aria-labelledby='portfolio-tab')
            .col
              each paramsuser,index in paramsUser
                if index == 0 
                  .row
                    .col
                    .col.mt-4.mb-4
                      if paramsuser.current == 1
                        - maxDocument = 0
                        each doc,index in documents
                          if index > 4
                            - maxDocument = 1
                        if maxDocument == 0
                          button.btn.btn-primary.btn-md.btn(type='button' data-toggle='modal' data-target='#AddDocument' style='padding-top:8px') + Add Document
                        else
                          p Maximum number of Documents reached.
                    .col
                  .row.mb-4
                    - empty = 0
                    each doc in documents
                      - empty = 1
                      .img-with-text
                        if thisuser.intAccNo == paramsuser.intAccNo
                          a.clo(href='/profile/'+paramsuser.intAccNo+'/document/remove/'+doc.intDocID) X
                        a(href='/userImages/documents/'+doc.strDocument target="_blank")
                          img.port(src='/userImages/documents/'+doc.strDocument)
                    if empty == 0
                      .col
                      .col.mt-2
                        i No documents to display
                      .col

  #reportModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='reportModalTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        each paramsuser, index in paramsUser
          if index == 0
            form(method='POST' action='/profile/reported/'+paramsuser.intAccNo style='float:right; margin-top: 5px !important;')
              .modal-header
                h5#reportModalTitle.modal-title Report User
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') ×
              .modal-body
                .row
                  .col
                    .custom-control.custom-radio
                      input#customRadio1.custom-control-input(type='radio', name='customRadio', value = '1')
                      label.custom-control-label(for='customRadio1') Communication Abuse 
                    .custom-control.custom-radio
                      input#customRadio2.custom-control-input(type='radio', name='customRadio', value = '2')
                      label.custom-control-label(for='customRadio2') Scammer/Hacker
                    .custom-control.custom-radio
                      input#customRadio3.custom-control-input(type='radio', name='customRadio', value = '3')
                      label.custom-control-label(for='customRadio3') Spammer
                    .custom-control.custom-radio
                      input#customRadio4.custom-control-input(type='radio', name='customRadio' value = '4')
                      label.custom-control-label(for='customRadio4') Others
                  .col
                    .form-group
                      label(for='exampleFormControlTextarea1') Others Specify Here..
                      textarea#exampleFormControlTextarea1.form-control(rows='3', name='customTextArea', value = 'Others')

              .modal-footer
                button.btn.btn-primary(type='submit') Submit
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close

  #editModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editModalTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        each thisuser in thisUserTab
          .modal-header
            h5#editModalTitle.modal-title Profile Settings
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×

          .modal-body
            .row
              .col
                ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
                  li.nav-item
                    a#pills-personal-tab.nav-link.active(data-toggle='pill', href='#pills-personal', role='tab', aria-controls='pills-personal', aria-selected='true') Personal Information
                  li.nav-item
                    a#pills-password-tab.nav-link(data-toggle='pill', href='#pills-password', role='tab', aria-controls='pills-password', aria-selected='false') Password
                  li.nav-item
                    a#pills-validid-tab.nav-link(data-toggle='pill', href='#pills-validid', role='tab', aria-controls='pills-validid', aria-selected='false') Valid ID
                  li.nav-item
                    a#pills-more-tab.nav-link(data-toggle='pill', href='#pills-more', role='tab', aria-controls='pills-more', aria-selected='false') More
                hr
                #pills-tabContent.tab-content
                  #pills-personal.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-personal-tab')
                    form(method='POST' action='/profile/personal/'+thisuser.intAccNo enctype='multipart/form-data')
                      .row
                        .col-4
                          p.mt-1.ml-3
                            b Profile Picture
                        .col-8
                          .form-group.mr-3
                            input#dp.filestyle(type='file' name='profilepic' data-classbutton='btn btn-primary' data-input='false' data-classicon='icon-plus' accept='image/*')
                      .row
                        .col
                          .form-group
                            label(for='email')
                              b Email
                            input#email.form-control(type='email' name='email' value= thisuser.strEmail aria-describedby='emailHelp' placeholder='eg. johndoe@email.com' maxlength='320' required)
                            small#emailHelp.form-text.text-muted Email will be displayed publicly.
                        .col
                          .form-group
                            label(for='contact')
                              b Contact Number
                            .form-text
                              input#contact.form-control(type='number' name='contact' value= thisuser.formatcontact aria-describedby='contactHelp' placeholder='09236835707' max='99999999999' required)
                              label.static-value(for='cellno') (+63)
                            small#contactHelp.form-text.text-muted Contact Number will be displayed publicly.

                      .row
                        .col
                          .form-group
                            label(for='inputCity')
                              b City
                            input#inputCity.form-control(type='text' name='city' value= thisuser.strCity placeholder='Quezon City' required='')
                        .col
                          .form-group
                            label(for='inputState')
                              b Barangay
                            input#inputBarangay.form-control(type='text' name='barangay' value= thisuser.strBarangay placeholder='Tatalon' required='')                
                      hr
                      .row
                        .col
                          .btn-group.special(role='group')
                            button.editbuttons.btn.btn-primary.btn-md(type='submit') Submit
                            button.editbuttons.btn.btn-secondary.btn-md(type='button' data-dismiss='modal' aria-pressed='true') Cancel

                  #pills-password.tab-pane.fade(role='tabpanel', aria-labelledby='pills-password-tab')
                    form(method='POST' action='/profile/pass/'+thisuser.intAccNo)
                      .row
                        .col-4
                          label.mt-2.ml-2(for='oldpassword') Old Password
                        .col-8
                          .form-group
                            input#oldpassword.form-control(type='password' name='oldpass' placeholder='Old Password' minlength='8' maxlength='100' required)
                      .row
                        .col-4
                          label.mt-2.ml-2(for='newpass') New Password
                          label.mt-2.ml-2(for='confirmpass') Confirm
                        .col-8
                          .form-group
                            input#newpass.form-control.mb-1(type='password' name='newpass' placeholder='New Password' minlength='8' maxlength='100' required)
                            input#confirmpass.form-control(type='password' name='confirmpass' placeholder='Confirm Password' aria-describedby='passwordHelp' minlength='8' maxlength='100' required)
                            small#passwordHelp.form-text.text-muted Minimum of 8 characters.

                      hr
                      .row
                        .col
                          .btn-group.special(role='group')
                            button.editbuttons.btn.btn-primary.btn-md(type='submit') Submit
                            button.editbuttons.btn.btn-secondary.btn-md(type='button' data-dismiss='modal' aria-pressed='true') Cancel

                  #pills-validid.tab-pane.fade(role='tabpanel', aria-labelledby='pills-validid-tab')
                    each paramsuser,index in paramsUser
                      if index == 0
                        if paramsuser.strValidID != 'none'
                          p You have already submitted a valid ID.
                          hr
                          hr
                          .row
                            .col.align-right
                              button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                        else
                          form(method='POST' action='/profile/validid/'+thisuser.intAccNo enctype='multipart/form-data')
                            .row
                              .col-4
                                p.mt-1.ml-3
                                  b Valid ID
                              .col-8
                                .form-group.mr-3
                                  input#vid.filestyle(type='file' name='validid' data-classbutton='btn btn-primary' data-input='false' data-classicon='icon-plus' accept='image/*' required)

                            hr
                            hr
                            .row
                              .col
                                .btn-group.special(role='group')
                                  button.editbuttons.btn.btn-primary.btn-md(type='submit') Submit
                                  button.editbuttons.btn.btn-secondary.btn-md(type='button' data-dismiss='modal' aria-pressed='true') Cancel

                  #pills-more.tab-pane.fade(role='tabpanel', aria-labelledby='pills-more-tab')
                    form(method='POST' action='/profile/more/'+thisuser.intAccNo)
                      .row
                        .col.mx-2
                          .material-switch(style="display: inline")
                            if thisuser.intAutoFill == 1
                              input#AutoFill(name='autofill' type='checkbox' checked)
                              |   
                              label.label-default(for='AutoFill' style="margin-bottom: 6.5px;")
                            else
                              input#AutoFill(name='autofill' type='checkbox')
                              |   
                              label.label-default(for='AutoFill' style="margin-bottom: 6.5px;")
                          span.ml-3 Auto-Fill Location on Search
                      hr
                      hr
                      .row
                        .col
                          .btn-group.special(role='group')
                            button.editbuttons.btn.btn-primary.btn-md(type='submit') Submit
                            button.editbuttons.btn.btn-secondary.btn-md(type='button' data-dismiss='modal' aria-pressed='true') Cancel

  #AddDocument.modal.fade(tabindex='-1' role='dialog' aria-labelledby='AddDocumentTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        form(method='POST' action='/profile/document/'+thisuser.intAccNo enctype='multipart/form-data')
          .modal-header
            h5#AddDocumentTitle.modal-title Add Document
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .row
              .col-4
                p.mt-1.ml-3
                  b Document
              .col-8
                .form-group.mr-3
                  input#docu.filestyle(type='file' name='document' data-classbutton='btn btn-primary' data-input='false' data-classicon='icon-plus' accept='image/*' required)
                small.text-muted Maximum of 6 Documents

          .modal-footer
            button.btn.btn-primary(type='submit') Submit
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

  #Workers.modal.fade(tabindex='-1' role='dialog' aria-labelledby='WorkersTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#WorkersTitle.modal-title Workers
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          .row
            .col
              ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
                li.nav-item
                  a#pills-manage-tab.nav-link.active(data-toggle='pill', href='#pills-manage', role='tab', aria-controls='pills-manage', aria-selected='true') Manage Workers
                li.nav-item
                  a#pills-add-tab.nav-link(data-toggle='pill', href='#pills-add', role='tab', aria-controls='pills-add', aria-selected='false') Add Workers
              hr
              #pills-tabContent.tab-content
                #pills-manage.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-manage-tab')
                  .row
                    .col
                      table.table.table-striped.box-shadow-mini
                        thead
                          tr
                            th.text-white(scope='col') Name
                            th.text-white(scope='col') Status
                            th.text-white(scope='col') Edit
                        tbody
                          - emptyworker = 1
                          each work in workers
                            - emptyworker = 0
                            tr
                              td #{work.strWorker}

                              if work.intWorkerStatus == 0
                                td Unavailable
                                if !work.intWorkerTrans
                                  td(style="padding: 7.5px;")
                                    button.btn.btn-info(type='button' data-toggle='modal' data-target='#WorkerEdit' data-workername=work.strWorker data-status=work.intWorkerStatus data-workid=work.intWorkerID)
                                      i.fa.fa-cog
                                else
                                  td &nbsp
                              else if work.intWorkerStatus == 1
                                td Available
                                if !work.intWorkerTrans
                                  td(style="padding: 7.5px;")
                                    button.btn.btn-info(type='button' data-toggle='modal' data-target='#WorkerEdit' data-workername=work.strWorker data-status=work.intWorkerStatus data-workid=work.intWorkerID)
                                      i.fa.fa-cog
                                else
                                  td &nbsp
                              else
                                td Ongoing
                                td &nbsp

                          if emptyworker == 1
                            tr
                              td(colspan="4")
                                i No Workers Added
                  hr
                  .row
                    .col.align-right
                      button.btn.btn-secondary(type='button', data-dismiss='modal') Close

                #pills-add.tab-pane.fade.show(role='tabpanel', aria-labelledby='pills-add-tab')
                  form(method='POST' action='/profile/add-workers/'+thisuser.intAccNo)
                    .row
                      .col
                        .form-group
                          label(for='workername')
                            b Worker's Name
                          input#workername.form-control(type='text' name='workername' aria-describedby='workernameHelp' required)
                          small#workernameHelp.form-text.text-muted Inserted Name will be Displayed in Transactions.
                    .row
                      .col
                        .btn-group.special(role='group')
                          button.editbuttons.btn.btn-primary.btn-md(type='submit') Submit
                          button.editbuttons.btn.btn-secondary.btn-md(type='button' data-dismiss='modal' aria-pressed='true') Cancel

  #WorkerEdit.modal.fade(tabindex='-1' role='dialog' aria-labelledby='WorkerEditTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        form(method='POST' action='/profile/manage-workers/'+thisuser.intAccNo)
          .modal-header
            h5#WorkerEditTitle.modal-title Edit Worker
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .row
              .col
                input(type="number" name="workid" hidden)
                h6
                  b Name:&nbsp
                  span name
                h6.mt-3
                  b Status:&nbsp
                  select#sel.form-control(name='workerstatus' style="width: 40%; display: inline" required)
                    option(value= '0') Unavailable
                    option(value= '1') Available

          .modal-footer
            button.btn.btn-primary(type='submit') Submit
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

  block profile
